body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px;
}
#title {
  grid-column: span 2;
  text-align: center;
}
.meal,
.cocktail {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 10px;
}
